{% extends 'base_generic.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="py-5">
    {% if beer.picture %}
    <div class="text-center">
        <img src="{{ beer.picture.url }}" alt="{{ beer.name }}" style="max-width: 300px; height: auto;">
    </div>
    {% endif %}

    <h2 class="text-center mb-4">{{ beer.name }}</h2>
    <p class="text-center">{{ beer.description }}</p>

    <div class="text-center mt-3">
        <h5>Brewery: <a href="{% url 'brewery_details' beer.brewery.id %}">{{ beer.brewery.name }}</a></h4>
        <h5>Style: <a href="{% url 'beer_style_details' beer.style.id %}">{{ beer.style.name }}</a></h4>
        <p>Added by: {{ beer.user.username }}</p>
    </div>

    <h3 class="text-center mt-4">Reviews</h3>
    {% if reviews %}
        {% for review in reviews %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ review.user.username }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Rating: {{ review.rating }}</h6>
                    <p class="card-text">{{ review.comment }}</p>
                    {% if request.user == review.user or request.user.is_superuser %}
                        <form method="post" action="{% url 'delete_review' review.id %}">
                            {% csrf_token %}
                            {% bootstrap_button button_type="submit" content="Delete Review" button_class="btn-danger" %}
                        </form>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p class="text-center">No reviews are available.</p>
    {% endif %}
    {% if request.user.is_authenticated %}
        <div class="mt-4">
            <h3>Add a Review</h3>
            <form method="post" class="mt-3">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% bootstrap_button button_type="submit" content="Submit Review" %}
            </form>
        </div>
    {% else %}
        <div class="mt-4 text-center">
            <p><a href="{% url 'login' %}">Log in</a> to add a review.</p>
        </div>
    {% endif %}

    {% if request.user == beer.user or request.user.is_superuser %}
        <div class="mt-3">
            <form method="post" action="{% url 'delete_beer' beer.id %}">
                {% csrf_token %}
                {% bootstrap_button button_type="submit" content="Delete Beer" button_class="btn-danger" %}
            </form>
        </div>
    {% endif %}

    {% if request.user == beer.user or request.user.is_superuser %}
        <div class="mt-3 text-center">
            <a href="{% url 'update_beer' beer.id %}" class="btn btn-secondary">Edit Beer</a>
            <a href="{% url 'index' %}" class="btn btn-secondary">Back to Beer List</a>
        </div>
    {% endif %}
</div>
{% endblock %}
