/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 20px;
}

ul li {
    list-style-type: none;
}

/* Estilos para a lista de integrantes e itens de publicação */
.list-item, .publicacao-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
}

.list-item img, .detalhes-integrante img {
    display: block;
    max-width: 100px; /* Ajustado para corresponder ao tamanho da imagem na lista */
    height: auto;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

/* Estilos para detalhes do integrante */
.detalhes-integrante img {
    max-width: 200px; /* Tamanho da imagem na página de detalhes */
}

/* Estilos para links */
.list-item a, .details-link {
    text-decoration: none;
    color: #007bff;
}

.list-item a:hover, .details-link:hover {
    text-decoration: underline;
}
